# VSCode
.vscode/

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# dotenv environment variable files
.env

# Next.js build output
.next
out

# Nuxt.js build / generate output
.nuxt
dist

# TypeScript cache
*.tsbuildinfo
